[phases.setup]
nixPkgs = ["nodePackages.npm", "python3", "ffmpeg"]

[phases.install]
dependsOn = ["setup"]
cmds = [
    "mkdir -p .local_bin",
    "ln -sf $(which python3) .local_bin/python",
    "PATH=/app/.local_bin:$PATH npm ci"
]

[phases.build]
dependsOn = ["install"]
cmds = ["npm run build"]

[start]
cmd = "npm start"

[env]
PATH = "/app/.local_bin:$PATH"
NPM_CONFIG_PRODUCTION = "false"
PYTHON_PATH = "/usr/bin/python3"
