[phases.setup]
nixPkgs = ["nodePackages.npm", "python3", "ffmpeg"]

[phases.install]
dependsOn = ["setup"]
# preinstall script in package.json handles the python symlink
cmds = ["npm ci"]

[phases.build]
dependsOn = ["install"]
cmds = ["npm run build"]

[start]
cmd = "npm start"

[env]
PATH = "/app/.local_bin:$PATH"
NPM_CONFIG_PRODUCTION = "false"
PYTHON_PATH = "/usr/bin/python3"
